# Analyzing Thanksgiving Dinner
## Compiled By: Dana Hagist

In this project, I'll be working with Jupyter notebook, and analyzing data on Thanksgiving dinner in the US.

The dataset is stored in the thanksgiving.csv file. It contains 1058 responses to an online survey about what Americans eat for Thanksgiving dinner. Each survey respondent was asked questions about what they typically eat for Thanksgiving, along with some demographic questions, like their gender, income, and location. This dataset will allow us to discover regional and income-based patterns in what Americans eat for Thanksgiving dinner.

The dataset has 65 columns, and 1058 rows. Most of the column names are questions, and most of the column values are string responses to the questions. Most of the columns are categorical, as a survey respondent had to select one of a few options. For example, one of the first column names is What is typically the main dish at your Thanksgiving dinner?. The potential responses are:

- Turkey
- Other (please specify)
- Ham/Pork
 -Tofurkey
- Chicken
- Roast beef
- I don't know
- Turducken

Most of the columns follow the same question/response format as the above. There are also quite a few NaN values in the columns, which occurred when a survey respondent didn't fill out a question because they didn't want to, or it didn't apply to them.

Here are descriptions of some of the most important columns in the dataset:
- RespondentID -- a unique ID of the respondent to the survey.
- Do you celebrate Thanksgiving? -- a Yes/No reponse to the question.
- How would you describe where you live? -- responses are Suburban, Urban, and Rural.
- Age -- resposes are one of several categories, such as 18-29, and 30-44.
- How much total combined money did all members of your HOUSEHOLD earn last year? -- one of several categories, such as 75,000 to 99,999.

In this project, I'll explore the data, and try to find interesting patterns.

The first step is to read in and display the data.

Task:   
- Import the pandas package.
- Use the pandas.read_csv() function to read the thanksgiving.csv file in.
- Make sure to specify the keyword argument encoding="Latin-1", as the CSV file isn't encoded normally.
- Assign the result to the variable data.
- Display the first few rows of data to see what the columns and rows look like.

In [2]:
# Solution: 
import pandas as pd
#First Line above imports the pandas package

data = pd.read_csv('thanksgiving.csv', encoding='Latin-1')
#This line reads in the data with special encoding

data[:5]
#This line prints the first 5 lines of data

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

Task:
- In a separate notebook cell, display all of the column names to get a sense of what the data consists of.
    - You can use the pandas.DataFrame.columns property to display the column names.

In [3]:
# Solution: 
print(data.columns[:15])
# Only printing a subset of the columns to converve save in the notebook.

Index(['RespondentID', 'Do you celebrate Thanksgiving?',
       'What is typically the main dish at your Thanksgiving dinner?',
       'What is typically the main dish at your Thanksgiving dinner? - Other (please specify)',
       'How is the main dish typically cooked?',
       'How is the main dish typically cooked? - Other (please specify)',
       'What kind of stuffing/dressing do you typically have?',
       'What kind of stuffing/dressing do you typically have? - Other (please specify)',
       'What type of cranberry saucedo you typically have?',
       'What type of cranberry saucedo you typically have? - Other (please specify)',
       'Do you typically have gravy?',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn'],
      dtype='object')

### Remove Thanksgiving Non-Observers from Data
Because we want to understand what people ate for Thanksgiving, we'll remove any responses from people who don't celebrate it. The column Do you celebrate Thanksgiving? contains this information. We only want to keep data for people who answered Yes to this questions.

Task: 
- Use the pandas.Series.value_counts() method to display counts of how many times each category occurs in the Do you celebrate Thanksgiving? column.
- Filter out any rows in data where the response to Do you celebrate Thanksgiving? is not Yes. At the end, all of the values in the Do you celebrate Thanksgiving? column of data should be Yes.

In [4]:
# Solution: 
print(data["Do you celebrate Thanksgiving?"].value_counts())
#This line prints how many observations in the dataset that celebrate Thanksgiving

yes_rows=data["Do you celebrate Thanksgiving?"]=='Yes'
#This column uses Boolean logic to identify those who celebrate Thanksgiving

data=data[yes_rows]
#This column filters down specifically to those who celebrate Thanksgiving.

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

### Exploring Food Choices for Thanksgiving Dinner

Let's explore what main dishes people tend to eat during Thanksgiving dinner. We can again use the value_counts method to help us with this.

Task:

- Use the pandas.Series.value_counts() method to display counts of how many times each category occurs in the What is typically the main dish at your Thanksgiving dinner? column.

In [5]:
# Solution: 
main_dish = data["What is typically the main dish at your Thanksgiving dinner?"]
dish_counts = main_dish.value_counts()
print(dish_counts)

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

Task: 

- Display the Do you typically have gravy? column for any rows from data where the What is typically the main dish at your Thanksgiving dinner? column equals Tofurkey.
    - Create a filter that only selects rows from data where What is typically the main dish at your Thanksgiving dinner? equals Tofurkey.
    - Select the Do you typically have gravy? column, and display it.

In [6]:
# Solution:
tofurkey = data[data['What is typically the main dish at your Thanksgiving dinner?']=='Tofurkey']
print(tofurkey['Do you typically have gravy?']=="Yes")

# Additional analysis step, counting how many families who have Tofurkey do and don't have gravy.
tofurkey_gravy = tofurkey['Do you typically have gravy?']
tofurkey_gravy.value_counts()

4       True
33      True
69     False
72     False
77      True
145     True
175     True
218    False
243     True
275    False
393     True
399     True
571     True
594     True
628    False
774    False
820    False
837     True
860    False
953     True
Name: Do you typically have gravy?, dtype: bool

Yes    12
No      8
Name: Do you typically have gravy?, dtype: int64

### Exploring Dessert Dishes

Now that we've looked into the main dishes, let's explore the dessert dishes. Specifically, we'll look at how many people eat Apple, Pecan, or Pumpkin pie during Thanksgiving dinner. This data is encoded in the following three columns:
- Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple
- Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin
- Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan

In all three columns, the value is either the name of the pie if the person eats it for Thanksgiving dinner, or null otherwise.

We can find out how many people eat one of these three pies for Thanksgiving dinner by figuring out for how many people all three columns are null.

You may recall from an earlier mission that the pandas.isnull() function will return a Boolean Series indicating whether or not each value in a specified DataFrame or Series is null.

We can also use the & operator to combine two Boolean Series into a single one. If both Series contain True in a position, the result will be True. Otherwise, the result will be False.

If we use the pandas.isnull() function to check where all three columns are null, then use the & operator to join all of the Series, we'll end up with a single Boolean Series. Where that Series contains False, the person ate at least one of the types of pies for Thanksgiving dinner. Where it contains True, they ate none of the types of pies.

Task: 
- Generate a Boolean Series indicating where the Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple column is null. Assign to the apple_isnull variable.
- Generate a Boolean Series indicating where the Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin column is null. Assign to the pumpkin_isnull variable.
- Generate a Boolean Series indicating where the Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan column is null. Assign to the pecan_isnull variable.
- Join all three Series using the & operator, and assign the result to ate_pies.
- Display the unique values and how many times each occurs in the ate_pies column.

In [7]:
# Solution: 
apple_isnull = pd.isnull(data['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple'])
pumpkin_isnull = pd.isnull(data['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin'])
pecan_isnull = pd.isnull(data['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan'])
ate_pies=apple_isnull&pumpkin_isnull&pecan_isnull
ate_pies.value_counts()

False    876
True     104
dtype: int64

### Analyzing the Age Column

Let's analyze the Age column in more depth. In order to analyze the Age column, we'll first need to convert it to numeric values. This will make it simple to figure out things like the average age of survey respondents. The Age column contains values that fall into one of a few categories:
- 18 - 29
- 30 - 44
- 45 - 59
- 60+
- null

Because we're missing the exact age value, we won't be able to extract an exact integer value, and we'll instead have to extract the first age value in the strings given.

We can do this by splitting each value on the space character (), then taking the first item in the resulting list. We'll also have to replace the + character to account for 60+, which follows a different format than the rest.

Task:
- Write a function to convert a single string to an appropriate integer value. This will allow us to convert the values in the Age column to integers.
    - Use the isnull() function to check if the value is null. If it is, return None.
    - Split the string on the space character (), and extract the first item of the resulting list.
    - Replace the + character in the result with an empty string to remove it.
    - Use int() to convert the result to an integer.
    - Return the result.

- Use the pandas.Series.apply() method to apply the function to each value in the Age column of data.
    - Assign the result to the int_age column of data.
- Call the pandas.Series.describe() method on the int_age column of data, and display the result.

In [24]:
# Solution: 
def ext_age(age_str):
    if pd.isnull(age_str):
        return None
    age_str=age_str.split(" ")[0]
    age_str=age_str.replace("+",'')
    age_int=int(age_str)
    return age_int
#The code above takes age_str as input, removes null values, splits on spaces, replaces + with spaces, and converts to integer.


data["int_age"]=data["Age"].apply(ext_age)
data["int_age"].describe()
#These two lines add a column to the data for the age integers, and then prints descriptors about the column.

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

Task:
- In a separate markdown cell, write up your findings.
    - Is there anything that we should be aware of about the results or our methodology?
    - Is this a true depiction of the ages of survey participants?

Solution:
One thing that is important to keep in mind when considering our methodology and the way that ages are now represented, is that we have taken the lower bound of each age rangee.  As such, when we are looking at summary statistics associated with the age column, we will be underestimating those measures relative to what the true statistics likely are.

### Converting Household Income to Numeric

The How much total combined money did all members of your HOUSEHOLD earn last year? column is very similar to the Age column. It contains categories, but can be converted to numerical values. Here are the unique values in the column:
- Prefer not to answer
- $ 0 to $9,999
- $10,000 to $24,999
- $25,000 to $49,999
- $50,000 to $74,999
- $75,000 to $99,999
- $100,000 to $124,999
- $125,000 to $149,999
- $150,000 to $174,999
- $175,000 to $199,999
- $200,000 and up
- null

We can convert these values to numeric by again splitting on the space character (). We'll then have to account for the string Prefer. Finally, we'll be able to replace the dollar sign character $ and the comma ,, and return the result.

Task: 
- Write a function to convert a single string to an appropriate integer income value.
    - Use the isnull() function to check if the value is null. If it is, return None.
    - Split the string on the space character (), and extract the first item of the resulting list.
    - If the result equals Prefer, return None.
    - Replace the $ and , characters in the result with empty strings to remove them.
    - Use int() to convert the result to an integer.
    - Return the result.
- Use the pandas.Series.apply() method to apply the function to each value in the How much total combined money did all members of your HOUSEHOLD earn last year? column of data.
    - Assign the result to the int_income column of data.
- Call the pandas.Series.describe() method on the int_income column of data, and display the result.

In [26]:
# Solution: 
def ext_income(inc_str):
    if pd.isnull(inc_str):
        return None
    inc_str=inc_str.split(" ")[0]
    if inc_str=="Prefer":
        return None
    inc_str=inc_str.replace("$","")
    inc_str=inc_str.replace(",","")
    return int(inc_str)

data['int_income']=data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(ext_income)
data['int_income'].describe()

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

Task:
- In a separate markdown cell, write up your findings.
    - Is there anything that we should be aware of about the results or our methodology?
    - Is this a true depiction of the incomes of survey participants?

Solution: 
Based on the results above, you can see that all of the income bands have been forced to the lower bound, which will skew the results downward.  However, the average income is rather high in this dataset, at approximately ~$75k.  This could be an unrealistic depiction of survey participants.

### Exploring Relationship Between Income and Thanksgiving Travel

We can now see how the distance someone travels for Thanksgiving dinner relates to their income level. It's safe to hypothesize that people earning less money could be younger, and would travel to their parent's houses for Thanksgiving. People earning more are more likely to have Thanksgiving at their house as a result.

We can test this by filtering data based on int_income, and seeing what the values in the How far will you travel for Thanksgiving? column are.

Task:
- See how far people earning under 150000 will travel.
    - Filter data, and only select rows where int_income is less than 150000.
    - Use indexing to select the How far will you travel for Thanksgiving? column.
    - Use the value_counts() method to count up how many times each value occurs in the column.
    - Display the results.
- See how far people earning over 150000 will travel.
    - Filter data, and only select rows where int_income is greater than 150000.
    - Use indexing to select the How far will you travel for Thanksgiving? column.
    - Use the value_counts() method to count up how many times each value occurs in the column.
    - Display the results

In [27]:
# Solution: 
under150=data[data['int_income']<150000]
over150=data[data['int_income']>150000]
under150["How far will you travel for Thanksgiving?"].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [28]:
# Solution, cont:
over150["How far will you travel for Thanksgiving?"].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         49
Thanksgiving is local--it will take place in the town I live in                     25
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    16
Thanksgiving is out of town and far away--I have to drive several hours or fly      12
Name: How far will you travel for Thanksgiving?, dtype: int64

Task: Write up your findings in a markdown cell.

Solution: 

Based on the results above, in most cases it appears that similar proportions are willing to travel based on income.  It does not appear to be a significant factor. 

However, there does seem to be a slightly higher proportion of people with over $150k income who will eat Thanksgiving at home.  

It is clear that the population with the over $150k income is much smaller, so it would be interesting to see whether this is a statistically significant result.

### Exploring Relationship between Thanksgiving and Friendship

There are two columns which directly pertain to friendship, Have you ever tried to meet up with hometown friends on Thanksgiving night?, and Have you ever attended a "Friendsgiving?. In the US, a "Friendsgiving" is when instead of traveling home for the holiday, you celebrate it with friends who live in your area. Both questions seem skewed towards younger people. Let's see if this hypothesis holds up.

In order to see the average ages of people who have done both, we can use a pivot table. As you may recall from an earlier mission, we can generate a pivot table with the pandas.DataFrame.pivot_table() method. By calling this method on data, and passing in the right keyword arguments, we can generate a table showing the average ages of people who answered Yes to both questions, answered Yes to one question, and so on.

Task:
- Generate a pivot table showing the average age of respondents for each category of Have you ever tried to meet up with hometown friends on Thanksgiving night? and Have you ever attended a "Friendsgiving?.
    - Call the pivot_table() method on data.
    - Pass in "Have you ever tried to meet up with hometown friends on Thanksgiving night?" to the index keyword argument.
    - Pass in 'Have you ever attended a "Friendsgiving?"' to the columns keyword argument.
    - Pass in "int_age" to the values keyword argument.
    - Display the results.

In [31]:
# Solution: 
friends_pivot_age=data.pivot_table(index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
columns= 'Have you ever attended a "Friendsgiving?"', values='int_age')
friends_pivot_age

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

Task: 
- Generate a pivot table showing the average income of respondents for each category of Have you ever tried to meet up with hometown friends on Thanksgiving night? and Have you ever attended a "Friendsgiving?.

In [34]:
# Solution: 
friends_pivot_inc=data.pivot_table(index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
columns= 'Have you ever attended a "Friendsgiving?"', 
values='int_income')
friends_pivot_inc

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842

Task: Write up a markdown cell with your findings.

Solution: Based on the two pivot tables above, there is a clear distinction regarding age between those who have attended a Friendsgiving and attempted to meet up with Friends on Thanksgiving and those who have not.  Specifically, it appears that the younger respondents and respondents with less income have partaken in more Thanksgiving activity with friends.  Those who responded "Yes" on each column are markedly younger.

### Potential Next Steps:

That's it for the guided steps! 

Here are some potential next steps:
- Figure out the most common dessert people eat.
- Figure out the most common complete meal people eat.
- Identify how many people work on Thanksgiving.
- Find regional patterns in the dinner menus.
- Find age, gender, and income based patterns in dinner menus.